body {
  min-height: 100vh;
  background-color: gray;
  margin: 0;
}

a {
  color: black;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: black;
}

ul {
  list-style: none;
}

@font-face {
  font-family: "Unbounded-Light";
  src: url("./assets/fonts/Unbounded-Light.ttf");
  font-style: normal; 
  font-weight: normal; 
}

@font-face {
  font-family: "Unbounded-Medium";
  src: url("./assets/fonts/Unbounded-Medium.ttf");
  font-style: normal; 
  font-weight: normal; 
}
